/*CSS Reset
=============================================================================*/
body,div,
p,pre,blockquote
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,fieldset,input,textarea,
th,td {
  margin:0;
  padding:0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,img { 
  border: 0;
}

address,caption,cite,code,dfn,
em,strong,th,var {
  font-style: normal;
  font-weight: normal;
}

ol,ul {
  list-style: none;
}

caption,th {
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,q:after {
  content: '';
}

abbr,acronym { 
  border: 0;
}

a {
  color: #999999;
  text-decoration: none;
}

.clearleft {
  clear: left;
}

/* +Layout
=============================================================================*/
body {
  font-size: 13px;
  color: #999999;
  font-family: Helvetica, Arial, sans-serif;
}

b {
  color: #666666;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
}

p a {
  color: #000000;
  font-weight: bold;
}

.wrap {
  width: 870px;
  margin: 0 auto;
}

.block {
  margin-left: 230px;
}

/* +Header
=============================================================================*/

#header {
  border-bottom: 2px solid #333333;
  background: #14128A url('/images/background.jpg') no-repeat center top;
}

#header h1 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 300;
  padding: 7px 20px;
  text-shadow: #000000 0px 1px 1px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

#header ul {
  top: 5px;
  right: 10px;
  position: absolute;
}

#header ul li {
  float: left;
}

#header ul li a {
  margin: 7px 2px;
  color: #FFFFFF;
  display: block;
  font-size: 125%;
  padding: 5px 7px;
  text-shadow: #999999 0px 1px 1px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

#header ul li a:hover {
  text-decoration: none;
  background-color: #19188D;
}

#content {
  border-top: 1px solid #FFFFFF;
  background: #FFFFFF url('/images/body_gradient.png') repeat-x left -100px;
}

/* +Blog
=============================================================================*/

#blog {
  border-bottom: 1px solid #666666;
}

#blog .wrap {
  padding: 20px 0;
}

#blog .col {
  float: left;
  width: 210px;
  text-align: right;
}

#blog .col ul {
  margin-top: 40px;
  padding-right: 10px;
  border-right: 1px dotted #CCCCCC;
}

#blog .col ul li {
}

#blog .col ul li a {
  padding: 3px;
  color: #999999;
  display: block;
  font-size: 85%;
}

#blog .col ul li a:hover {
  color: #333333;
}

/* +Photos
=============================================================================*/
#photos {
  padding: 30px 0;
  min-height: 260px;
  background: #CCCCCC url('/images/shadow-lip-upper.png') no-repeat center top;
}

#photos .wrap {
  left: 5px;
  position:relative;
}

div.flickr_badge_image {
  float: left;
  display: none;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #AAAAAA;
}

div.flickr_badge_image:hover {
  border: 1px solid #666666;
}

/* +Projects
=============================================================================*/
#projects {
  padding: 30px 0;
  background-color: #999999;
  border-top: 1px solid #666666;
}

#projects .wrap {
}

#projects .col {
  float: left;
  width: 210px;
  color: #FFFFFF;
  text-align: right;
}

#projects .col ul {
  padding-right: 10px;
}

#projects .col ul li {
  font-size: 90%;
  color: #FFFFFF;
}

#projects .col ul li a {
  margin: 7px 0;
  color: #19188D;
  display: block;
  padding: 3px 5px;
  text-align: left;
  background-color: #CCCCCC;
}

#projects .col ul li a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #333333;
}

#projects .block a {
  width: 605px;
  height: 100px;
  padding: 10px;
  margin: 10px 0;
  display: block;
  border: 5px solid #CCCCCC;
}

#projects .block a.tasty {
  background: #D9DF9E url('/images/tasty.png') no-repeat 40px -65px;
}
#projects .block a.winepos {
  background: #FFFFFF url('/images/winepos.png') no-repeat 200px top;
}
#projects .block a.append {
  background: #202522 url('/images/append.png') no-repeat -150px top;
}
#projects .block a.focus {
  background: #D6D6D6 url('/images/focus.png') no-repeat 100px -10px;
}

#projects .block a:hover {
  border-color: #666666;
  text-decoration: none;
}

#projects .block a h3 {
  width: 190px;
  padding: 5px;
  color: #19188D;
  font-size: 125%;
  background-color: #EEEEEE;
}

#projects .block a span {
  width: 190px;
  padding: 5px;
  display: block;
  background-color: #EEEEEE;
}

/* +Post
=============================================================================*/
#post {
  max-width: 800px;
  margin: 5px auto 40px auto;
}

#post h1 {
  color: #333333;
  font-size: 200%;
  font-weight: 300;
  font-style: italic;
  margin: 10px 0 5px 0;
  text-shadow: #FFFFFF 0px 1px 1px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

#post h2 {
  color: #19188D;
  font-size: 125%;
  margin-bottom: 5px;
}

#post h3 {
  color: #19188D;
  font-size: 115%;
  margin: 5px 0;
}

#post ol li {
  margin-left: 30px;
  line-height: 1.6em;
  list-style-type: decimal;
}

#post span.date {
  color: #999999;
  font-size: 85%;
}

#post p {
  color: #666666;
  line-height: 1.4em;
  margin: 10px 0 20px 0;
}

#post p.next {
  font-weight: bold;
}

#post p span {
  display: block;
  margin: 10px 0;
  line-height: 1.4em;
}

#post p a {
  color: #333333;
  font-weight: bold;
}

#post p code {
  color: #999999;
  font-family: monospace;
}

#post ul {
  margin: 10px 5px; 
}

#post ul li {
  margin: 2px 0;
}

div.allposts {
  font-size: 125%;
}

div.allposts a:hover {
  color: #333333;
  text-decoration: none;
}

div.allposts b {
  color: #999999;
  margin-right: 3px;
  font-style: italic;
}

ul#posts {
  padding: 10px 0;
  max-width: 800px;
  margin: 5px auto 20px auto;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

ul#posts li {
  width: 32%;
  display: inline-block;
}

ul#posts li a {
  padding: 3px;
  color: #999999;
  display: block;
  font-size: 90%;
}

ul#posts li a:hover {
  color: #333333;
}

/* Footer
=============================================================================*/
#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #323232;
}

#footer .wrap {
  text-align: center;
}

#footer p.about {
  color: #CCCCCC;
  font-size: 95%;
}

#footer p.about a {
  color: #CCCCCC;
}

#footer p.copyright {
  color: #999999;
  padding-top: 10px;
}

#footer p.copyright a {
  color: #999999;
}

#footer p.ps {
  margin-top: 10px;
  font-size: 85%;
  color: #666666;
}