/*CSS Reset
=============================================================================*/
body,div,
p,pre,blockquote
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,fieldset,input,textarea,
th,td {
	margin:0;
	padding:0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img { 
	border: 0;
}

address,caption,cite,code,dfn,
em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym { 
	border: 0;
}

.gist-meta {display: none;}
.gist .gist-file {border: none !important;}
.gist .gist-file .gist-data {background-color: #FFF !important; border-bottom: none !important;}

body {
	background: #000000 url('/images/body-bg.png') top left repeat;
}

/* Layout
=============================================================================*/
.wrap {
	width: 320px;
	margin: 0 auto;
}

/* Header
=============================================================================*/
.header {
	margin: 10px auto;
}

.header h1 {
	color: #FFF;
	font-size: 30px;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

/* Content
=============================================================================*/

/* Post
=============================================================================*/
.post {
	margin: 10px 0;
	background-color: #FFFFFF;
}

.post p {
	padding: 10px;
	line-height: 1.25em;
}

/* Photos
=============================================================================*/

.photos {
	overflow-y: auto;
	height: 85px;
}

.photos .photos-container {
	width: 2250px;
}

.photos .flickr_badge_image { float: left }

/* Projects
=============================================================================*/
