/*CSS Reset
=============================================================================*/
body,div,
p,pre,blockquote
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,fieldset,input,textarea,
th,td {
	margin:0;
	padding:0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img { 
	border: 0;
}

address,caption,cite,code,dfn,
em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym { 
	border: 0;
}

.gist-meta {display: none;}
.gist .gist-file {border: none !important;}
.gist .gist-file .gist-data {
	font-size: 90% !important;
	border-bottom: none !important;
	background-color: #FFF !important;
}

body {
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
	background: #000000 url('/images/body-bg.png') top left repeat;
}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

/* Layout
=============================================================================*/
.wrap {
	width: 320px;
	margin: 0 auto;
}

/* Header
=============================================================================*/
.header {
	margin: 30px auto;
}

.header h1 {
	color: #FFF;
	font-size: 30px;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

/* Content
=============================================================================*/
.post,
.photos,
.projects {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
}

/* Post
=============================================================================*/
.post {
	margin: 30px 0;
	background-color: #FFFFFF;
}

.post h1 {
	padding: 10px;
	font-size: 150%;
	text-align: center;
	font-weight: lighter;
	font-family: "Helvetica Neue", Helvetica sans-serif;
}

.post span.created {
	margin-left: 10px;
}

.post p {
	padding: 10px;
	line-height: 1.25em;
}

.post a.gist {
	display: block;
	text-align: center;
}

.post a.archive {
}

/* Photos
=============================================================================*/

.photos {
	height: 75px;
	overflow-y: auto;
	margin: 30px auto;
}

.photos .photos-container {
	width: 2250px;
}

.photos .flickr_badge_image { float: left }

/* Projects
=============================================================================*/
.projects {
	overflow-y: scroll;
	margin: 30px auto;
}
.projects .projects-container {
	width: 960px;
	height: 100px;
}

.projects .projects-container a {
	float: left;
	width: 320px;
	height: 100px;
	display: block;
}

.projects .projects-container a h3 {
	width: 120px;
	padding: 5px;
	color: #19188D;
	font-size: 125%;
	background-color: #EEEEEE;
	display: none;
}

.projects .projects-container a span {
	width: 120px;
	padding: 5px;
	display: none;
	background-color: #EEEEEE;
}

.projects a.tasty {
	background: #D9DF9E url('/images/tasty.png') no-repeat -90px -75px;
}

.projects a.winepos {
	background: #FFFFFF url('/images/winepos.png') no-repeat 0px top;
}

.projects a.dispatch {
	background: #FFFFFF url('/images/dispatch.png') no-repeat 0px top;
}
