---
title: Tony Pitale | tpitale.com
created_at: 2011-10-01 23:23:50.00000 -04:00
layout: application
---

{% for post in site.posts limit:1 %}
	<div class="post layer wrap">
		<!-- latest post -->
		<h1><a href="{{post.url}}">{{post.title}}</a></h1>
		<span class="created timestamp">{{post.created_at | date:'%Y-%m-%d' }}</span>
		
		{{ post.content }}
	</div>
{% endfor %}

<div class="recent-posts layer wrap">
	<h2>Read More Recent Posts</h2>
	<ul>
	{% for post in site.posts limit:3 offset:1 %}
		<li>
			<a href="{{post.url}}">{{post.title}}</a>
		</li>
	{% endfor %}
		<li class="post-links">
			<a href="/blog.html" class="archive">Archive</a><b>or</b>
			<a href="http://tpitale.com/feed.xml" class="feed">Feed</a>
		</li>
	</ul>
</div>

<!-- 
<ul class="post-links group layer wrap">
	<li><a href="/blog.html" class="archive">Archive</a></li>
	<li><a href="http://tpitale.com/feed.xml" class="feed">Feed</a></li>
</ul>
 -->

<!-- <div class="photos">
	<div class="photos-container">
		<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=latest&size=s&layout=x&source=user_set&user=41783324%40N00&set=72157624642260867"></script>
		<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=latest&size=s&layout=x&source=user_set&user=41783324%40N00&set=72157624827429575"></script>
		<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=random&size=s&layout=x&source=user_set&user=41783324%40N00&set=72157605236285647"></script>
		<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=random&size=s&layout=x&source=user_set&user=41783324%40N00&set=72157602176622405"></script>
		<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=latest&size=s&layout=x&source=user_set&user=41783324%40N00&set=72157600262586911"></script>
	</div>
</div> -->

<div class="projects">
	<h2 class="projects-label wrap">OSS Projects</h2>
	<ul class="wrap">
		<li><a href="https://github.com/growingdevs/growingdevs.github.io">GrowingDevs</a></li>
		<li><a href="https://github.com/tpitale/legato">Legato</a></li>
		<li><a href="https://github.com/tpitale/staccato">Staccato</a></li>
		<li><a href="https://github.com/tpitale/mail_room">MailRoom</a></li>
		<li><a href="https://github.com/tpitale/simplest_view">SimplestView</a></li>
		<!-- <li><a href="https://github.com/tpitale/tryruby">TryRuby</a></li> -->
		<!-- <li><a href="https://github.com/tpitale/wisp">Wisp</a></li> -->
		<!-- <li><a href="https://github.com/tpitale/dispatch">Dispatch</a></li> -->
	</ul>

	<h2 class="projects-label wrap">Projects</h2>
	<div class="projects-container wrap">
		<a href="http://wineistasty.com" target="_blank" class="tasty">
			<h3>Tasty: Development with Rails 3 and PostgreSQL</h3>
		</a>
		<a href="http://winepos.com" target="_blank" class="winepos">
			<h3>ICS Winepos.com</h3>
		</a>
<!-- 		<a href="http://github.com/tpitale/dispatch" target="_blank" class="dispatch">
			<h3>Dispatch</h3>
			<span>Sinatra, Capistrano, EventMachine, Websockets</span>
		</a> -->
	</div>
</div>
