---
title: t.pitale
created_at: 2008-03-11 23:23:49.995233 -04:00
layout: default
---

{% assign posts = site.posts %}

<div id="blog">
  <div class="wrap">

    <div class="col">
      <!-- List of Blog Posts -->
      <ul>
      {% for post in posts limit:15 offset:1 %}
        <li><a href="{{post.url}}">{{post.title}}</a></li>
      {% endfor %}
      </ul>
    </div>

    <div class="block">
      <!-- Latest Post -->
      {% for post in posts limit:1 %}
        <div id="post">
          <h1>{{ post.title }}</h1>
          <h2>{{ post.subtitle }}</h2>
          <span class="date">{{post.created_at | date:'%Y-%m-%d' }}</span>

          {{ post.content }}

          <div id="disqus_thread"></div>
        </div>

        <script type="text/javascript">var disqus_url = "http://tpitale.github.com/{{ post.url }}"; var disqus_title ="{{ post.title }}";</script>
        <script type="text/javascript" src="http://disqus.com/forums/tpitale/embed.js"></script>
        <noscript>
          <a href="http://tpitale.disqus.com/?url=ref">View the discussion thread.</a>
          <a href="http://disqus.com" class="dsq-brlink">
            blog comments powered by <span class="logo-disqus">Disqus</span>
          </a>
        </noscript>
      {% endfor %}

      <div class="allposts">
        <a href="/blog.html">Blog Archive</a>
        <b>or</b>
        <a href="http://feeds.feedburner.com/tpitale">Feed</a>
        <img src='/images/feed.png' />
      </div>
    </div>
  </div>
</div>

<!-- Sampling of flickr images -->
<div id="photos">
  <div class="wrap">
    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=random&size=s&layout=x&source=user_set&user=41783324%40N00&set=72157605236285647"></script>
    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=random&size=s&layout=x&source=user_set&user=41783324%40N00&set=72157602176622405"></script>
    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=latest&size=s&layout=x&source=user_set&user=41783324%40N00&set=72157600262586911"></script>
    <br class="clearleft" />
  </div>
</div>
<div id="projects">
  <div class="wrap">
    <div class="col">
      <ul>
        <li>
          <a href="http://github.com/vigetlabs/garb">Garb</a>
          Ruby Wrapper for the Google Analytics Data Export API
        </li>
        <li>
          <a href="http://github.com/vigetlabs/simplest_auth">SimplestAuth</a>
          Very Simple Authentication for Rails using BCrypt, developed at Viget
        </li>
        <li>
          <a href="http://github.com/tpitale/mongolytics">Mongolytics</a>
          Rails Request and Session Analytics Stored in MongoDB
        </li>
        <li>
          <a href="http://github.com/tpitale/net-simple">net/simple</a>
          Simple wrapper around net/ssh and net/scp, inspired by Capistrano
        </li>
        <li>
          <a href="http://github.com/tpitale/information_schema">Information Schema</a>
          Collection of DataMapper Resource Classes to access PostgreSQL Information Schema Views
        </li>
      </ul>
    </div>
    <div class="block">
      <a href="http://wineistasty.com" target="_blank" class="tasty">
        <h3>Tasty</h3>
        <span>Rails 3 with PostgreSQL, DataMapper, and MongoDB</span>
      </a>
      <a href="http://winepos.com" target="_blank" class="winepos">
        <h3>ICS Winepos.com</h3>
        <span>Rails 3, MongoDB, and a little design</span>
      </a>
      <a href="http://focusapp.com" target="_blank" class="focus">
        <h3>Focus</h3>
        <span>Under Development on Rails 3 with PostgreSQL, DataMapper</span>
      </a>
      <a href="#" class="append">
        <h3>Append</h3>
        <span>2009 Rails Rumble Entry; Team Scatapult</span>
      </a>
      <br class="clearleft" />
    </div>
  </div>
</div>
