// Colors

$base: #211c22;

$blue: #269bed; // #19188D
$green: #1eafb1;
$font-black: #262C31;
$grey-dark: #999999;
$grey-light: #EEEEEE;
$grey-medium: #AAAAAA;
$code-grey: #f5f2f0;
$purple: #5f2699;
$red: #c62828;
$white: #FFFFFF;
$yellow: #f0b005;

// Defaults

$default-border-radius: 3px;
$default-transition-property: all;
$default-transition-duration: 0.25s;
$default-transition-function: linear;

// Responsive breakpoints

$small: "( min-width: 500px )";
$medium: "( min-width: 800px )";

// Sprites
