/* Footer
=============================================================================*/
.footer {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 30px;
  /*  background-color: #323232;*/

  p.about {
    color: $grey-medium;
    font-size: 80%;
    line-height: 1.25em;
  }

  p.about a {
    color: $blue;
    // color: #63D9EF;
  }

  p.copyright {
    color: $grey-dark;
    padding-top: 10px;
  }

  p.copyright a {
    color: $grey-dark;
  }

  p.ps {
    margin-top: 10px;
    font-size: 85%;
    color: #666666;
  }
}
