/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "config";

@mixin respond-to( $query ) {
  @media only screen and #{$query} {
    @content;
  }
}

.gist-meta {display: none;}
.gist .gist-file {border: none !important; margin-bottom: 0px !important}
.gist .gist-file .gist-data {
  font-size: 90% !important;
  border-bottom: none !important;
  background-color: #FFF !important;
}

.group:before,
.group:after {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.group {
    zoom:1;
}

body {
  font-size: 18px;
  color: $font-black;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  font-family: $default-font-family;
}

h1 {
  font-family: $header-font-family;

  // a {
  //   font-family: $header-font-family;
  // }
}

h2,h3,h4,h5,h6 {
  font-weight: 400;
  font-family: $secondary-header-font-family;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: bold;
}

/* Layout
=============================================================================*/
.wrap {
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
}

.layer {
  background-color: $white;
}

/* Header
=============================================================================*/
.header {
  margin: 30px auto;

  h1 {
    font-size: 150%;
    text-align: center;

    a {
      color: $grey-dark;

      &:hover {
        color: $font-black;
        text-decoration: none;
      }
    }
  }
}

/* Content
=============================================================================*/

/* Post
=============================================================================*/
.post {
  // margin: 1em 0;
  padding: 1em;
  overflow: hidden;
  background-color: $white;

  h1 {
    // margin: .5em 0 0 .5em;
    color: $blue;
    font-size: 150%;
    text-align: left;
    font-weight: 300;
  }

  h2 {
    color: $black;
    font-size: 120%;
    text-align: left;
    margin-top: 1.5em;
  }

  h3 {
    color: $font-black;
    font-size: 105%;
    text-align: left;
    margin-top: 1em;
  }

  h4 {
    color: $grey-dark;
    font-size: 100%;
    text-align: left;
    margin-top: 0.75em;
  }

  time.created {
    font-size: 90%;
    color: $grey-dark;
  }

  blockquote {
    p {
      padding: 1em;
      font-size: 105%;
      font-style: italic;
      border-left: 0.5em solid $grey-dark;
    }
  }

  p {
    margin: 0.5em 0 1em 0;
  }

  a.gist-link {
    /*margin-left: 10px;*/
  }

  img {
    width: 100%;

    @include respond-to($small) {
      width: 49.5%;
      display: inline;
    }
  }

  span.inline-code,
  p code {
    font-size: 95%;
    font-family: monospace;
    background-color: $code-grey;
  }

  ul {
    list-style: square inside none;
    margin: 1em 0;

    li {
      line-height: 1.25em;
      // padding: 2px 0;
    }
  }

  pre {
    margin: 1em 0;
    font-size: 80%;
    line-height: 1.25em;
  }
}

/* Posts
=============================================================================*/
.recent-posts {
  padding: 1em;

  h2 {
    margin-bottom: 0.5em;
  }

  li.post-links {
    b {
      margin: 0 0.5em;
      font-style: italic;
    }

    a {
      padding: 1em 0;
      display: inline-block;
    }

    a.archive {
    }

    a.feed {
      padding-right: 2em;
      background: transparent url('/images/feed.png') 2.5em 1.35em no-repeat;
    }
  }
}

ul.posts {
  padding: 10px 0;
  margin: 30px auto;
  background-color: $white;

  li {
    padding: 0 12px;

    a {
      line-height: 1.25em;
    }
  }
}

/* Photos
=============================================================================*/

.photos {
  height: 75px;
  overflow: hidden;
  margin: 30px auto;

  .photos-container {
    width: 2250px;
  }

  .flickr_badge_image {
    float: left;
  }
}

/* Projects
=============================================================================*/

.projects {
  width: 100%;
  padding: 1px 0;
  margin: 1em auto;
  background-color: $layer-grey;

  h2.projects-label {
    color: $font-black;
    font-size: 150%;
    text-align: center;
    margin: 0.5em;
    font-weight: normal;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;

    @include respond-to($small) {
      text-align: left;
    }
    @include respond-to($medium) {
      margin: 0.5em auto;
    }
  }

  ul.project-list {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    li {
      padding: 0 1em;

      @include respond-to($small) {
        padding-right: 1em;
        display: inline-block;
      }
    }
  }

  .projects-container {
    margin-bottom: 1em;

    a {
      width: 100%;
      height: 70px;
      display: inline-block;

      @include border-radius($default-border-radius);

      @include respond-to($small) {
        width: 49%;
      }

      h3, span {
        display: none;
      }
    }
  }

  a.tasty {
    background: #D9DF9E url('/images/tasty.png') no-repeat center center;
  }

  a.winepos {
    background: #F0F0F0 url('/images/winepos.png') no-repeat center -7px;
  }
}

@import "footer";

@import "prism";