/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "config";

@mixin respond-to( $query ) {
  @media only screen and #{$query} {
    @content;
  }
}

.gist-meta {display: none;}
.gist .gist-file {border: none !important; margin-bottom: 0px !important}
.gist .gist-file .gist-data {
  font-size: 90% !important;
  border-bottom: none !important;
  background-color: #FFF !important;
}

.group:before,
.group:after {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.group {
    zoom:1;
}

body {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  background: #000000 url('/images/body-bg.png') top left repeat;
}

a {text-decoration: none; color: #1C14C2;}
a:hover {text-decoration: underline;}

/* Layout
=============================================================================*/
.wrap {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

/* Header
=============================================================================*/
.header {
  margin: 30px auto;
}

.header h1 {
  font-size: 30px;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

.header h1 a {
  color: #FFFFFF;
}

.header h1 a:hover {
  color: #999;
  text-decoration: none;
}

/* Content
=============================================================================*/
.post,
.posts,
.photos,
.projects,
.post-links {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
}

ul.post-links {
  background-color: #FFFFFF;
  list-style: none;
}

ul.post-links li {
  width: 50%;
  float: left;
}

ul.post-links li a {
  display: block;
  padding: 10px 0;
}

ul.post-links li a.archive {
  text-align: right;
  padding-right: 5px;
}
ul.post-links li a.feed {
  text-align: left;
  padding-left: 5px;
  background: transparent url('/images/feed.png') 38px 10px no-repeat;
}

/* Post
=============================================================================*/
.post {
  margin: 30px 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.post h1 {
  padding: 10px;
  font-size: 150%;
  text-align: left;
  color: #19188D;
  font-weight: lighter;
  font-family: "Helvetica Neue", Helvetica sans-serif;
}

.post h3 {
  padding: 10px;
  color: #19188D;
  font-size: 120%;
  text-align: left;
}

.post h4 {
  padding: 10px;
  color: #19188D;
  font-size: 105%;
  text-align: left;
}

.post span.created {
  margin-left: 10px;
}

.post p {
  padding: 10px;
  line-height: 1.25em;
}

.post a.gist-link {
  /*margin-left: 10px;*/
}

.post img {
  width: 300px;
  margin: 0 10px;
}

.post span.inline-code {
  font-family: monospace;
  background-color: #EEE;
}

.post ul {
  list-style: square inside none;
  margin: 5px 10px;
}

.post ul li {
  padding: 2px 0;
}

/* Posts
=============================================================================*/

ul.posts {
  padding: 10px 0;
  margin: 30px auto;
  background-color: #FFFFFF;
}

ul.posts li {
  padding: 0 12px;
}

ul.posts li a {
  line-height: 1.25em;
}

/* Photos
=============================================================================*/

.photos {
  height: 75px;
  overflow: hidden;
  margin: 30px auto;
}

.photos .photos-container {
  width: 2250px;
}

.photos .flickr_badge_image { float: left }

/* Projects
=============================================================================*/
h2.projects-label {
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: lighter;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

.projects {
  overflow: hidden;
  margin: 0 auto 30px auto;
}

.projects .projects-container {
  width: 960px;
  height: 100px;
}

.projects .projects-container a {
  float: left;
  width: 320px;
  height: 100px;
  display: block;
}

/*.projects .projects-container a:hover {
  text-decoration: none;
}*/

.projects .projects-container a h3 {
  height: 100%;
  padding: 5px;
  display: none;
  color: #63D9EF;
  font-size: 125%;
/*  margin: 70px auto;*/
  text-align: center;
  background-color: #000000;
  filter: alpha(opacity=65);
  -moz-opacity: 0.65;
  -webkit-opacity: 0.65;
  opacity: 0.65;
}

/*.projects .projects-container a:hover h3 {
  display: block;
}*/

.projects .projects-container a span {
  width: 120px;
  padding: 5px;
  display: none;
  background-color: #EEEEEE;
}

.projects a.tasty {
  background: #D9DF9E url('/images/tasty.png') no-repeat -90px -75px;
}

.projects a.winepos {
  background: #FFFFFF url('/images/winepos.png') no-repeat 0px top;
}

.projects a.dispatch {
  background: #FFFFFF url('/images/dispatch.png') no-repeat 0px top;
}

/* Footer
=============================================================================*/
.footer {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 30px;
/*  background-color: #323232;*/
}

.footer p.about {
  color: #CCCCCC;
  font-size: 95%;
}

.footer p.about a {
  color: #63D9EF;
}

.footer p.copyright {
  color: #999999;
  padding-top: 10px;
}

.footer p.copyright a {
  color: #999999;
}

.footer p.ps {
  margin-top: 10px;
  font-size: 85%;
  color: #666666;
}

/* Prism
=============================================================================*/

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}


.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}
