/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "config";

@mixin respond-to( $query ) {
  @media only screen and #{$query} {
    @content;
  }
}

.gist-meta {display: none;}
.gist .gist-file {border: none !important; margin-bottom: 0px !important}
.gist .gist-file .gist-data {
  font-size: 90% !important;
  border-bottom: none !important;
  background-color: #FFF !important;
}

.group:before,
.group:after {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.group {
    zoom:1;
}

body {
  font-size: 18px;
  color: $font-black;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica-Neue, helvetica, sans-serif;
  background: #000000 url('/images/body-bg.png') top left repeat;
}

a {text-decoration: none; color: #1C14C2;}
a:hover {text-decoration: underline;}

/* Layout
=============================================================================*/
.wrap {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

/* Header
=============================================================================*/
.header {
  margin: 30px auto;
}

.header h1 {
  font-size: 150%;
  text-align: center;
  // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

.header h1 a {
  color: #FFFFFF;
}

.header h1 a:hover {
  color: #999;
  text-decoration: none;
}

/* Content
=============================================================================*/
.post,
.posts,
.photos,
.projects,
.post-links {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
}

ul.post-links {
  background-color: #FFFFFF;
  list-style: none;

  li {
    width: 50%;
    float: left;

    a {
      display: block;
      padding: 10px 0;
    }

    a.archive {
      text-align: right;
      padding-right: 5px;
    }

    a.feed {
      text-align: left;
      padding-left: 5px;
      background: transparent url('/images/feed.png') 50px 16px no-repeat;
    }
  }
}

/* Post
=============================================================================*/
.post {
  margin: 1em 0;
  padding: 1em;
  overflow: hidden;
  background-color: #FFFFFF;

  h1 {
    // margin: .5em 0 0 .5em;
    font-size: 150%;
    text-align: left;
    color: #19188D;
    font-weight: 500;
    // font-family: "Helvetica Neue", Helvetica sans-serif;
  }

  h3 {
    color: #19188D;
    font-size: 120%;
    text-align: left;
    // margin: .5em 0 0 .75em;
  }

  h4 {
    color: #19188D;
    font-size: 105%;
    text-align: left;
    // margin: .5em 0 0 1em;
  }

  span.created {
    font-size: 90%;
    // margin-left: 1em;
    color: $grey-dark;
  }

  p {
    margin: 1em 0;
  }

  a.gist-link {
    /*margin-left: 10px;*/
  }

  img {
    width: 300px;
    margin: 0 10px;
  }

  span.inline-code {
    font-family: monospace;
    background-color: #EEE;
  }

  ul {
    list-style: square inside none;
    margin: 1em 0;

    li {
      line-height: 1.25em;
      // padding: 2px 0;
    }
  }

  pre {
    margin: 1em 0;
    font-size: 80%;
    line-height: 1.25em;
  }
}

/* Posts
=============================================================================*/

ul.posts {
  padding: 10px 0;
  margin: 30px auto;
  background-color: #FFFFFF;

  li {
    padding: 0 12px;

    a {
      line-height: 1.25em;
    }
  }
}

/* Photos
=============================================================================*/

.photos {
  height: 75px;
  overflow: hidden;
  margin: 30px auto;

  .photos-container {
    width: 2250px;
  }

  .flickr_badge_image {
    float: left;
  }
}

/* Projects
=============================================================================*/
h2.projects-label {
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: lighter;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

.projects {
  overflow: hidden;
  margin: 0 auto 30px auto;
}

.projects .projects-container {
  width: 960px;
  height: 100px;
}

.projects .projects-container a {
  float: left;
  width: 320px;
  height: 100px;
  display: block;
}

/*.projects .projects-container a:hover {
  text-decoration: none;
}*/

.projects .projects-container a h3 {
  height: 100%;
  padding: 5px;
  display: none;
  color: #63D9EF;
  font-size: 125%;
/*  margin: 70px auto;*/
  text-align: center;
  background-color: #000000;
  filter: alpha(opacity=65);
  -moz-opacity: 0.65;
  -webkit-opacity: 0.65;
  opacity: 0.65;
}

/*.projects .projects-container a:hover h3 {
  display: block;
}*/

.projects .projects-container a span {
  width: 120px;
  padding: 5px;
  display: none;
  background-color: #EEEEEE;
}

.projects a.tasty {
  background: #D9DF9E url('/images/tasty.png') no-repeat -90px -75px;
}

.projects a.winepos {
  background: #FFFFFF url('/images/winepos.png') no-repeat 0px top;
}

.projects a.dispatch {
  background: #FFFFFF url('/images/dispatch.png') no-repeat 0px top;
}

@import "footer";

@import "prism";