/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../_sass/screen.scss */
.gist-meta {
  display: none;
}

/* line 17, ../_sass/screen.scss */
.gist .gist-file {
  border: none !important;
  margin-bottom: 0px !important;
}

/* line 18, ../_sass/screen.scss */
.gist .gist-file .gist-data {
  font-size: 90% !important;
  border-bottom: none !important;
  background-color: #FFF !important;
}

/* line 25, ../_sass/screen.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 30, ../_sass/screen.scss */
.group:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 35, ../_sass/screen.scss */
.group {
  zoom: 1;
}

/* line 39, ../_sass/screen.scss */
body {
  font-size: 18px;
  color: #262c31;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica-Neue, helvetica, sans-serif;
  background: black url("/images/body-bg.png") top left repeat;
}

/* line 48, ../_sass/screen.scss */
a {
  text-decoration: none;
  color: #1C14C2;
}

/* line 49, ../_sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* Layout
=============================================================================*/
/* line 53, ../_sass/screen.scss */
.wrap {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

/* Header
=============================================================================*/
/* line 61, ../_sass/screen.scss */
.header {
  margin: 30px auto;
}

/* line 65, ../_sass/screen.scss */
.header h1 {
  font-size: 150%;
  text-align: center;
}

/* line 71, ../_sass/screen.scss */
.header h1 a {
  color: #FFFFFF;
}

/* line 75, ../_sass/screen.scss */
.header h1 a:hover {
  color: #999;
  text-decoration: none;
}

/* Content
=============================================================================*/
/* line 86, ../_sass/screen.scss */
.post,
.posts,
.photos,
.projects,
.post-links {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
}

/* line 95, ../_sass/screen.scss */
ul.post-links {
  background-color: #FFFFFF;
  list-style: none;
}
/* line 99, ../_sass/screen.scss */
ul.post-links li {
  width: 50%;
  float: left;
}
/* line 103, ../_sass/screen.scss */
ul.post-links li a {
  display: block;
  padding: 10px 0;
}
/* line 108, ../_sass/screen.scss */
ul.post-links li a.archive {
  text-align: right;
  padding-right: 5px;
}
/* line 113, ../_sass/screen.scss */
ul.post-links li a.feed {
  text-align: left;
  padding-left: 5px;
  background: transparent url("/images/feed.png") 50px 16px no-repeat;
}

/* Post
=============================================================================*/
/* line 123, ../_sass/screen.scss */
.post {
  margin: 1em 0;
  padding: 1em;
  overflow: hidden;
  background-color: #FFFFFF;
}
/* line 129, ../_sass/screen.scss */
.post h1 {
  font-size: 150%;
  text-align: left;
  color: #19188D;
  font-weight: 500;
}
/* line 138, ../_sass/screen.scss */
.post h3 {
  color: #19188D;
  font-size: 120%;
  text-align: left;
}
/* line 145, ../_sass/screen.scss */
.post h4 {
  color: #19188D;
  font-size: 105%;
  text-align: left;
}
/* line 152, ../_sass/screen.scss */
.post span.created {
  font-size: 90%;
  color: #9e9c9a;
}
/* line 158, ../_sass/screen.scss */
.post p {
  margin: 1em 0;
}
/* line 162, ../_sass/screen.scss */
.post a.gist-link {
  /*margin-left: 10px;*/
}
/* line 166, ../_sass/screen.scss */
.post img {
  width: 300px;
  margin: 0 10px;
}
/* line 171, ../_sass/screen.scss */
.post span.inline-code {
  font-family: monospace;
  background-color: #EEE;
}
/* line 176, ../_sass/screen.scss */
.post ul {
  list-style: square inside none;
  margin: 1em 0;
}
/* line 180, ../_sass/screen.scss */
.post ul li {
  line-height: 1.25em;
}
/* line 186, ../_sass/screen.scss */
.post pre {
  margin: 1em 0;
  font-size: 80%;
  line-height: 1.25em;
}

/* Posts
=============================================================================*/
/* line 196, ../_sass/screen.scss */
ul.posts {
  padding: 10px 0;
  margin: 30px auto;
  background-color: #FFFFFF;
}
/* line 201, ../_sass/screen.scss */
ul.posts li {
  padding: 0 12px;
}
/* line 204, ../_sass/screen.scss */
ul.posts li a {
  line-height: 1.25em;
}

/* Photos
=============================================================================*/
/* line 213, ../_sass/screen.scss */
.photos {
  height: 75px;
  overflow: hidden;
  margin: 30px auto;
}
/* line 218, ../_sass/screen.scss */
.photos .photos-container {
  width: 2250px;
}
/* line 222, ../_sass/screen.scss */
.photos .flickr_badge_image {
  float: left;
}

/* Projects
=============================================================================*/
/* line 229, ../_sass/screen.scss */
h2.projects-label {
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: lighter;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica sans-serif;
}

/* line 238, ../_sass/screen.scss */
.projects {
  overflow: hidden;
  margin: 0 auto 30px auto;
}

/* line 243, ../_sass/screen.scss */
.projects .projects-container {
  width: 960px;
  height: 100px;
}

/* line 248, ../_sass/screen.scss */
.projects .projects-container a {
  float: left;
  width: 320px;
  height: 100px;
  display: block;
}

/*.projects .projects-container a:hover {
  text-decoration: none;
}*/
/* line 259, ../_sass/screen.scss */
.projects .projects-container a h3 {
  height: 100%;
  padding: 5px;
  display: none;
  color: #63D9EF;
  font-size: 125%;
  /*  margin: 70px auto;*/
  text-align: center;
  background-color: #000000;
  filter: alpha(opacity=65);
  -moz-opacity: 0.65;
  -webkit-opacity: 0.65;
  opacity: 0.65;
}

/*.projects .projects-container a:hover h3 {
  display: block;
}*/
/* line 278, ../_sass/screen.scss */
.projects .projects-container a span {
  width: 120px;
  padding: 5px;
  display: none;
  background-color: #EEEEEE;
}

/* line 285, ../_sass/screen.scss */
.projects a.tasty {
  background: #d9df9e url("/images/tasty.png") no-repeat -90px -75px;
}

/* line 289, ../_sass/screen.scss */
.projects a.winepos {
  background: white url("/images/winepos.png") no-repeat 0px top;
}

/* line 293, ../_sass/screen.scss */
.projects a.dispatch {
  background: white url("/images/dispatch.png") no-repeat 0px top;
}

/* Footer
=============================================================================*/
/* line 3, ../_sass/_footer.scss */
.footer {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 30px;
  /*  background-color: #323232;*/
}
/* line 9, ../_sass/_footer.scss */
.footer p.about {
  color: #CCCCCC;
  font-size: 80%;
  line-height: 1.25em;
}
/* line 15, ../_sass/_footer.scss */
.footer p.about a {
  color: #63D9EF;
}
/* line 19, ../_sass/_footer.scss */
.footer p.copyright {
  color: #999999;
  padding-top: 10px;
}
/* line 24, ../_sass/_footer.scss */
.footer p.copyright a {
  color: #999999;
}
/* line 28, ../_sass/_footer.scss */
.footer p.ps {
  margin-top: 10px;
  font-size: 85%;
  color: #666666;
}

/* Prism
=============================================================================*/
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
/* line 11, ../_sass/_prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 30, ../_sass/_prism.scss */
::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 35, ../_sass/_prism.scss */
::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 42, ../_sass/_prism.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
/* line 48, ../_sass/_prism.scss */
pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
}

/* line 54, ../_sass/_prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border-top: 1px solid #f5f2f0;
  border-bottom: 1px solid #f5f2f0;
}

/* Inline code */
/* line 60, ../_sass/_prism.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 68, ../_sass/_prism.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 72, ../_sass/_prism.scss */
.token.punctuation {
  color: #999;
}

/* line 76, ../_sass/_prism.scss */
.namespace {
  opacity: .7;
}

/* line 83, ../_sass/_prism.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

/* line 89, ../_sass/_prism.scss */
.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

/* line 97, ../_sass/_prism.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 104, ../_sass/_prism.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 110, ../_sass/_prism.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 114, ../_sass/_prism.scss */
.token.important {
  font-weight: bold;
}

/* line 118, ../_sass/_prism.scss */
.token.entity {
  cursor: help;
}
