---
title: New Post
subtitle: Hook, Line, and Sinker
author: Tony Pitale
created_at: <%= Time.now.to_y %>
layout: default
filter:
  - haml
---
#post
  %h1= h(@page.title)
  %h2= h(@page.subtitle)
  %span.date= @page.created_at.strftime('%Y-%m-%d')
  
  %p
    Post Content Goes Here
    
  #disqus_thread

%script{:type =>"text/javascript", :src=>"http://disqus.com/forums/tpitale/embed.js"}
%noscript
  %a{:href=>"http://tpitale.disqus.com/?url=ref"}
    View the discussion thread.
  %a{:href=>"http://disqus.com", :class=>"dsq-brlink"}
    blog comments powered by 
    %span{:class=>"logo-disqus"}
      Disqus