<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
		<title>{{page.title}}</title>

		<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
	</head>
	<body>
		<div class="header wrap">
			<h1>Tony Pitale</h1>
		</div>
		<div class="content wrap">
			{{ @content }}
		</div>

		<script type="text/javascript" src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/application.js"></script>
	</body>
</html>
