<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
		<title>{{page.title}}</title>

		<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
	</head>
	<body>
		<div class="header wrap">
			<h1><a href="/">Tony Pitale</a></h1>
		</div>
		<div class="content wrap">
			{{ @content }}
		</div>

		<div class="footer wrap">
			<p class="about">
				I've been called many things:
				<a href="http://www.github.com/tpitale">Developer,</a>
				<a href="http://www.vt.edu">Hokie,</a>
				<a href="http://www.viget.com">Viget Lab Rat,</a>
				<a href="http://www.flickr.com/photos/thatdbeme/">Photographer,</a>
				<a href="http://facebook.com/tpitale">Friend,</a>
				<a href="http://speakerrate.com/tpitale">Presenter,</a>
				<a href="http://www.twitter.com/tpitale">Orator</a>
				and some other names, too gruesome to repeat.
			</p>
			<p class="copyright">
				© 2008-2011
				<a href="mailto:tpitale@gmail.com">Tony Pitale</a>
			</p>
			<p class="ps">
				Okay, so &ldquo;Orator&rdquo; might be pushing it.
			</p>
		</div>

		<script type="text/javascript" src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/application.js"></script>
	</body>
</html>
