<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{page.author}}" />
    <meta name="verify-v1" content="i/cbJtXe1ZDIZNta65CghwcRM/zFMRHIsbR9poU+uwU=" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/tpitale" title="Atom feed" />

    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div id="header">
      <h1>Tony Pitale</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/#photos">Photos</a></li>
        <li><a href="/#projects">Projects</a></li>
      </ul>
    </div>
    <div id="content">{{ @content }}</div>
    <div id="footer">
      <div class="wrap">
        <p class="about">
          I've been called many things:
          [Developer,](http://www.github.com/tpitale)
          [Hokie,](http://www.vt.edu)
          [Viget Lab Rat,](http://www.viget.com)
          [Photographer,](http://www.flickr.com/photos/thatdbeme/)
          [Orator](http://www.twitter.com/tpitale)
          and some other names, too gruesome to repeat.
        </p>
        <p class="copyright">
          © 2009
          link_to("Tony Pitale", "mailto:tpitale@gmail.com")
        </p>
        <p class="ps">
          Okay, so &ldquo;Orator&rdquo; might be pushing it.
        </p>
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-3879168-1");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
  </body>
</html>