---
layout: application
---
<div class="post layer wrap">
	<h1>{{ page.title }}</h1>
	<!-- <h2>{{ page.subtitle }}</h2> -->
	<span class="created timestamp">{{ page.created_at | date:'%Y-%m-%d' }}</span>

	{{ content }}
</div>

<div class="recent-posts layer wrap">
  <h2>Read More Recent Posts</h2>
  <ul>
  {% for post in site.posts limit:3 offset:1 %}
    <li>
      <a href="{{post.url}}">{{post.title}}</a>
    </li>
  {% endfor %}
    <li class="post-links">
      <a href="/blog.html" class="archive">Archive</a><b>or</b>
      <a href="http://tpitale.com/feed.xml" class="feed">Feed</a>
    </li>
</div>
