/*CSS Reset
=============================================================================*/
body,div,
p,pre,blockquote
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,fieldset,input,textarea,
th,td {
	margin:0;
	padding:0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img { 
	border: 0;
}

address,caption,cite,code,dfn,
em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym { 
	border: 0;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

.clearleft {
	clear: left;
}

/* +Layout
=============================================================================*/
body {
	font-size: 9pt;
	color: #FFFFFF;
	font-family: verdana, sans-serif;
	background: #14128A url('/images/background.jpg') no-repeat top center;
}

b {
	color: #FFFFFF;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

p a {
  font-weight: bold;
}

.wrap {
	width: 870px;
	margin: 0 auto;
}

.col {
	float: left;
	width: 200px;
	text-align: right;
}

.col ul {
  margin-top: 40px;
}

.col ul li {
  margin-top: 2px;
  margin-right: -3px;
}

.col ul li a {
	margin: 2px 0;
	padding: 3px;
	color: #B8C4CC;
	display: block;
	font-size: 85%;
}

.col ul li a:hover {
  color: #FFFFFF;
}

.block {
	margin-left: 220px;
	padding-left: 20px;
}

#header {
  height: 50px;
}

#blog {
  background: transparent url('/images/shadow-lip-upper.png') no-repeat center -10px;
}

#blog .wrap {
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px dotted #0F105C;
  border-bottom: 1px dotted #0F005C;
}
/* +Photos
=============================================================================*/
#photos {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

#photos .wrap {
}

div.flickr_badge_image {
	float: left;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px dotted #999999;
}

div.flickr_badge_image:hover {
  border: 1px dotted #CCCCCC;
}

/* +Projects
=============================================================================*/
#projects {
}

#projects .wrap {
  padding-top: 30px;
  border-top: 1px dotted #0F005C;
}

#projects a {}

#projects a img {
	margin-bottom: 10px;
	border: 1px solid #333333;
}

#projects a:hover img {
  border: 1px solid #CCCCCC;
}

/* +Post
=============================================================================*/
#post {
	max-width: 800px;
	margin: 5px auto 40px auto;
}

#post h1 {
  color: #FFFFFF;
  font-size: 200%;
  margin-top: 10px;
  font-style: italic;
  font-family: Georgia, serif;
}

#post h2 {
	color: #99B8CC;
	font-size: 125%;
	margin-bottom: 5px;
}

#post h3 {
  color: #FFFFFF;
  font-size: 115%;
  margin: 5px 0;
}

#post ol li {
  margin-left: 30px;
  line-height: 1.6em;
  list-style-type: decimal;
}

#post span.date {
	color: #FFFFFF;
	font-size: 85%;
}

#post p {
	margin: 10px 0 20px 0;
	line-height: 1.4em;
}

#post p.next {
  font-weight: bold;
}

#post p span {
  display: block;
  margin: 10px 0;
  line-height: 1.4em;
}

#post p a {
	font-weight: bold;
	color: #999999;
}

#post p code {
  margin: 10px;
  padding: 5px;
  color: #FFFFFF;
  display: block;
  font-size: 110%;
	font-family: monospace;
}

#post ul {
  margin: 10px 5px; 
}

#post ul li {
  margin: 2px 0;
}

.allposts {
	color: #FFFFFF;
	font-size: 125%;
}

/* Footer
=============================================================================*/
#footer {
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #323232;
}

#footer .wrap {
  text-align: center;
}

#footer p.about {
  color: #CCCCCC;
  font-size: 95%;
}

#footer p.about a {
  color: #CCCCCC;
}

#footer p.copyright {
  color: #999999;
  padding-top: 10px;
}

#footer p.copyright a {
  color: #999999;
}
